{% extends 'flatpages/default.html' %}

{% block title %}
Объявления
{% endblock title %}

{% block content %}
    <h1>{{ ad.title }}</h1>
    <p>{{ ad.dateCreation|date:'d M Y' }}</p>
    <p>{{ ad.text }}</p>
    <p>Автор объявления: {{ ad.author }}</p>
    <br>
    {% if object.image %}
        <img width='500' src="{{ object.image.url }}">
    {% endif %}
    <br>
    {% if object.upload %}
       <a href="{{ ad.upload.url }}" download>Скачать файл</a>
    {% endif %}
    {% if user.is_authenticated and user != ad.author %}
        <a href="{% url 'create_response' pk=ad.id %}">Оставить отклик</a>
    {% endif %}
    {% if user.is_authenticated and user == ad.author %}
        <a href="{% url 'ad_edit' pk=ad.id %}">Редактировать</a>
        <a href="{% url 'ad_delete' pk=ad.id %}">Удалить</a>
    {% endif %}
{% endblock content %}